<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask Application{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script> 
        var index=document.location.hash.indexOf('lang=');
        if (index != -1)
            document.write('<div style=\"position: absolute; top: 5px; right:5px;\">Chosen language: <b>'
                    + decodeURIComponent(document.location.hash.substring(index + 5))
                    + '</b></div>');
    </script>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
        </ul>
    </nav>

    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

</body>
</html>
